*{
    margin: 0;
    padding: 0;
}
body{
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 2vh;
        max-width: 600px;
        text-align: center;
        input{
            margin-top: 1vh;
            margin-bottom: 2vh;
            width: 50vw;
            padding: 1vh;
            
        }
        #comment{
            height: 30vh;
            resize: none;
            width: 50vw;
            padding: 1vh;
        }
        .error{
            color: red;
            margin-bottom: 3vh;
        }
        #submit{
            width: min-content;
            padding: 2vh;
        }
    }
}